@tailwind base;
@tailwind components;
@tailwind utilities;

input, select {
    @apply border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.ingest-container {
    grid-template-columns: 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr 0.1fr;
}

button {
    @apply py-2 px-4 bg-blue-500 text-white rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75
}

.trash {
  @apply bg-red-500 px-2 hover:bg-red-700;
    max-width: 3em;
}

h2 {
    font-size: 23px;
}